<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Title</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:8080">Строймаркет</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Материалы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registration">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    <h1>Ваш аккаунт</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h2>Имя:</h2>
        <p th:text="${user.getName()}"></p>
      </li>
      <li class="list-group-item">
        <h2>Email:</h2>
        <p th:text="${user.getEmail()}">{{ user.email }}</p>
      </li>

      <li class="list-group-item">
        <h2>Адрес:</h2>
        <p th:text="${user.getAddress()}"></p>
      </li>


      <li class="list-group-item">
        <h2>Orders:</h2>
        <ul class="list-unstyled">
          <li th:each="order : ${orders}">
            <h3 th:text="${#temporals.format(order.getDateTime(), 'dd-MM-yyyy HH:mm')}"></h3>
<!--            <h5 th:if="${order.getCar() != null}" th:text="| ${order.getCar().getManufacturers().manufacturer} ${order.getCar().getModel().model_name} |"></h5>-->
            <h5 th:if="${order.getComment() != null}" th:text="${order.getComment()}"></h5>
            <h4 th:if="${order.getStatus() != null}" th:text="${order.getStatus()}"></h4>
            <ul class="list-unstyled">
              <li th:each="item : ${order.getOrderItems()}">
                <p th:text="| ${item.getProduct().getProduct_name()} ${item.getQuantity()} x ${item.getProduct().getProduct_price()} |"></p>
                <p th:text="| ${item.getQuantity()*item.getProduct().getProduct_price()} рублей |"></p>
              </li>
            </ul>
            <button class="btn btn-danger"  th:value="${order}" th:with="order=${order}" th:onclick="| declineOrder(${order.order_id}) |">Отклонить заказ</button>

          </li>
        </ul>
      </li>
    </ul>


    <script>
      function declineOrder(orderId) {
        console.log(orderId);
        // Get the order from the server.
        var order = fetch("/api/orders/" + orderId).then(response => response.json());
        console.log(order);
        // Decline the order.
        var declineOrderRequest = new XMLHttpRequest();
        declineOrderRequest.open("POST", "/api/orders/" + orderId + "/decline");

        declineOrderRequest.onreadystatechange = function() {
          if (declineOrderRequest.readyState === 4) { // 4 означает, что запрос завершен
            if (declineOrderRequest.status === 200) { // 200 означает успешный ответ от сервера
              console.log("Order declined successfully");
              // Перенаправляем пользователя на страницу заказов
              window.location.href = "/account";
            } else {
              console.error("Error declining order");
            }
          }
        };

        declineOrderRequest.send();



      }
    </script>
  </div>




  <footer class="footer bg-dark text-white text-center py-3">
    <div class="container">
      <p>&copy; 2023 Цифровая платформа Строймаркет. Все права защищены.</p>
    </div>
  </footer>

  <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
  <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>